//-
    script(type="text/javascript")
        include:uglifyJS ../public/vendors/jquery/jquery-1.11.2.min.js
script(type="text/javascript", src="/web/vendors/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/web/vendors/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/web/vendors/angular/angular.min.js")